<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>International Stock Exchange Information</title>
</head>

<body>
<h1>International Stock Exchange Information</h1>
<br>

 <form action="{% url 'stock_exchange:index' %}" method="post">
     Symbol: <input type="text" name="symbol" placeholder="e.g MSFT" required><br><br>
     <input type="submit" value="Submit">
     {% csrf_token %}
</form>

{% if status == "SUCCESS" %}
    <h3>Stocks Information of <strong>{{ result.symbol }}</strong> :</h3>
    <h5>Updated on : {{ result.last_updated }}</h5>
    <h5>Open : {{ result.open }}</h5>
    <h5>High : {{ result.high }}</h5>
    <h5>Low : {{ result.low }}</h5>
    <h5>Close : {{ result.close }}</h5>
    <h5>Volume : {{ result.volume }}</h5>
{% else %}
    {{ message }}
{% endif %}

</body>

</html>